.body{
    background-color: url('https://i.pinimg.com/originals/24/01/9b/24019be315c8dafd0d89e483b3749540.jpg');
    /* width: 1360px;
    height: 530px; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-grow: 1;
}
.body >div{
    padding: 2%;
}
.card1{
    display: grid;
    padding: 2%;
    /* grid-template-columns: 300px; */
    /* grid-template-rows   : 100px 110px; */
    grid-template-areas: "button" "image" "text";
    border-radius: 18px;
    background: black;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.9); */
    text-align: center;
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10%;
}
.card1:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}
.card2:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}
.card3:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}
.card4:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}
.card1:hover > .abt1{
    opacity: 1;
}
.card2:hover > .abt2{
    opacity: 1;
}
.card3:hover > .abt3{
    opacity: 1;
}
.card4:hover > .abt4{
    opacity: 1;
}
.abt1{
    color: seashell;
    position: absolute;
    opacity: 0.5;
}
.abt2{
    color: seashell;
    position: absolute;
    opacity: 0.5;
}
.abt3{
    color: seashell;
    position: absolute;
    opacity: 0.5;
}
.abt4{
    color: seashell;
    position: absolute;
    opacity: 0.5;
}
.cbutton1{
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    height: 100%;
    /* box-shadow: 3 transparent; */
    font-size: 1rem;
    font-weight: 1000;
    border: none;
    background-color: transparent;
    display: none;
    grid-area: button;
    width: 100px;
    height: 50px;
    position: absolute;
    left:18em;
    top: 12em;
    cursor: pointer;
}
.cbutton1:hover{
    color:blanchedalmond;
}
.cbutton2:hover{
    color:blanchedalmond;
}
.cbutton3:hover{
    color:blanchedalmond;
}
.cbutton4:hover{
    color:blanchedalmond;
}
.cbutton2{
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    height: 100%;
    /* box-shadow: 3 transparent; */
    font-size: 1rem;
    font-weight: 1000;
    border: none;
    background-color: transparent;
    display: none;
    grid-area: button;
    width: 100px;
    height: 50px;
    position: absolute;
    left:18em;
    top: 15em;
    cursor: pointer;
}
.cbutton3{
    /* margin-top: 0%; */
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    height: 100%;
    /* box-shadow: 3 transparent; */
    font-size: 1rem;
    font-weight: 1000;
    border: none;
    background-color: transparent;
    display: none;
    grid-area: button;
    width: 100px;
    height: 50px;
    position: absolute;
    right:18em;
    top: 12em;
    cursor: pointer;
}
.cbutton4{
    /* margin-top: 0%; */
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem ;
    height: 100%;
    /* box-shadow: 3 transparent; */
    font-size: 1rem;
    font-weight: 1000;
    border: none;
    background-color: transparent;
    display: none;
    grid-area: button;
    width: 100px;
    height: 50px;
    position: absolute;
    right:18em;
    top: 15em;
    cursor: pointer;
}
@media all and (max-width:818px){
    .cbutton1{
        left: 2em;
    }
    .cbutton2{
        left:2em;
    }
    .cbutton3{
        left: 45em;
    }
    .cbutton4{
        left: 45em;
    }
}
.image1{
    padding: 2%;
    flex-shrink: 0;
    /* min-width: 100%;
    min-height: 100%; */
    display: none;
}
.image2{
    object-fit: cover;
    min-width: 200px;
    min-height: 200px;
}
.card2{
    /* display: grid; */
    padding: 2%;
    /* grid-template-columns: 300px;
    grid-template-rows: 100px 110px; */
    grid-template-areas: "button" "image" "text";
    border-radius: 18px;
    background: black;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.9); */
    text-align: center;
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card3{
    /* display: grid; */
    padding: 2%;
    /* grid-template-columns: 300px;
    grid-template-rows: 100px 110px; */
    grid-template-areas: "button" "image" "text";
    border-radius: 18px;
    background: black;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.9); */
    text-align: center;
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10%;
}
.card4{
    /* display: grid;
    display: grid; */
    padding: 2%;
    /* grid-template-columns: 300px;
    grid-template-rows: 100px 110px; */
    grid-template-areas: "button" "image" "text";
    border-radius: 18px;
    background: black;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.9); */
    text-align: center;
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cards1{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    /* width: 200px; */
    /* flex-grow: 1; */
    /* justify-content: space-evenly; */
    /* margin-left: 2%; */
}
.cards2{
    display: flex;
    flex-direction: column;
    margin-top: 3%;

    /* flex-grow: 1 ; */
    /* margin-left: 2%; */
}
.card-image{
    background-image: url('');
    grid-area: image;
    background-size: auto;
}
.card-text{
    width: 400px;
    white-space: normal;
    display: none;
    grid-area: text;
    position: absolute;
}
