
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');

.partition{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 130px;
}

.left{

    width: 40%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 150px;
}


.head{
    font-size: 1.6rem;
    color: rgba(73,143,221,255);
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 5px;
}

.frst{
    margin-bottom: 50px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    height: 250px;
    width: 80%;
    flex: 0.7;
    color:rgba(73,143,221,255) ;
}
.second{
    width:80%;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 95px;
    color: rgba(73,143,221,255);
}

.frst-content{
    list-style-type: decimal;
    padding: 20px;
}

.second-content{
    list-style-type: decimal;
    padding: 20px;
}

.frst-content li{
    margin-bottom: 10px;
}
.second-content li{
    margin-bottom: 10px;
}

@media all and (max-width:800px){
    .partition{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}

.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}