.discussion-hero{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.discussion-left{
    width: 30%;
    height: 87vh;
    background-color: rgba(235, 217, 217, 0.753);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discussion-head{
    font-size: 1.4rem;
    margin-top: 20px;
    color: grey;
    font-weight: 800;
}

.discussion-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lbl{
    font-size: 1rem;
    color: black;
    font-weight: 800;
    margin-top: 20px;
}

.room-name{
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
}

.room-submit{
    padding: 10px;
    border: none;
    background-color: rgba(17, 76, 124, 0.925);
    width: 200px;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
}