.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
}
.part{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-card
{ 
   width: 20%;
}
.right-card{
    width: 80%;
}

@media all and (max-width:800px){
    .part{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .left-card{
        width: 100%;
        display: none;
    }
    .right-card{
        width: 100%;
    }
}