
.query-hero{
    height: 280px;
    width: 50%;
    background-color: rgb(220,220,220);
    margin-top: 30px;
    border-radius: 0px 15px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.query-top{
    height: 20%;
    display: flex;
    flex-direction: row;
    background-color: rgba(73,143,221,255);
    
    border-radius: 0px 15px 0px 0px;
    
}


.query-bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    width: 90%;
}
.name_mail{
    margin-left: 10px;
    font-size: 0.8rem;
    
}
.query-name{
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
}

.name_mail p{
    color:rgb(220,220,220)
}


.query-img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}


.query-middle{
    height: 40%;
    padding: 10px;
    display: flex;
}

.query-middle-content{
    text-indent: 40px;
}

.query-bottom{
    height: 20%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.txt{
    height: 100%;
    width: 80%;
    margin-top: -25px;
    background-color: rgb(207, 204, 204);
    font-size: 1rem;
}

.query-btn1{
    margin-top: -25px;
    height: 100%;
    width: 15%;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
}

.query-btn2{
    
    font-weight: bolder;
    font-size: 1em;
    color:rgb(0, 0, 0) ;
   width: 100%;
    border: none;
   
    text-align: center;
   height: 100%;
    text-decoration: none;
}



.final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color:#fff;
}

.query-btn2:hover{
  background-color: rgba(73,143,221,255) ;
  cursor: pointer;
 
}