.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100vh;
}
.reply-hero{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    width: 80%;
    background-color: rgba(223, 215, 215, 0.658);
}

.reply-frst{
    width: 10%;
}

.reply-middle{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reply-end{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.reply-name{
    font-size: 1.3rem;
    font-weight: 800;
}

.reply-email{
    font-size: 0.8rem;
}

.reply-desc{
    margin-left: 50px;
}

.reply-from{
    margin-top: 50px;
}

.back-btn{
    background-color: rgb(196, 196, 196);
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.bck-rply{
    padding: 20px;
    text-decoration: none;
    color: rgb(29, 27, 27);
    font-weight: 700;
}