.container{
    height: 87vh;
    max-width: 30%;
    background-color: rgb(235, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3eff9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a17676' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");    
}
.bio{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0.8;
    font-size: 1rem;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 3px solid rgb(68, 62, 62);
}

.hello{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.mail{
    font-size: 0.9rem;
    font-weight: 500;
}

.bottom-part{
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(218, 199, 199);
    cursor: pointer;
    text-decoration: none;
}

.bottom-part:hover{
    background-color: rgb(193, 226, 193);
}

@media all and (max-width:800px)
{
    .container
    {
        display: none;
    }
}