.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(218, 201, 201);
}

.form{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 550px;
  padding: 10px 30px 20px 20px;
  border-radius: 0px 6px 6px 0px;
  background-color: rgba(73,143,221,255);
  font-family: 'Roboto Mono', monospace;

}

.i{
  display: flex;
  justify-content: space-evenly;
}
.form > div {
    margin: 0.5em 0;
  }

  .fi {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sc {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
  }

  .sc div{
      padding-bottom: 10px;

  }
  .fi div{
     
    padding-bottom: 20px;
  }

.txt-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3px;
    padding: 5px;
  font-family: 'Roboto Mono', monospace;
  
  }
  .text-area div{
    margin-top: 20px;
  }
  .im{
    color: rgba(73,143,221,255);  
  }
  .textarea{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
  }


label{
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(252, 252, 252);
}
  .btn1 {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 1.5em;
    padding: 	0.938em;
    height: 100px;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
  }
  .btn1:hover {
    background-color: #4A4E69;
    color: #fefefe;
  }
  
  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    color:#fff;
    text-align: center;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select file from storage';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media all and (max-width:800px){
  .form{
    width: 600px;
  }
}

@media all and (max-width:400px){
  .form{
    width: 300px;
  }
}
