
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
.card{
    /* max-width: 700px; */
    font-family: 'Lato', sans-serif;
}

.item{
    width: 70%;
    list-style-type: none;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 50px;
}

.banner{
    height: 60px;
    background-color: rgb(73, 143, 221,255);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: #fff;
    border-radius: 0px 20px 0px 0px;
}


.left-bio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 0.7rem;
    align-items: center;
    width: 100%;
}

.me{
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    margin-left: 12px;
}
.name-email{
    margin-left: 5px;
}

.name-email h1{
    font-size: 1rem;
    font-weight: 700;
}
.name-email p{
    color: rgb(220,220,220);
}

.right{
    width: 40%;
    font-size: 1rem;
    text-transform: uppercase;
}

.cat{
    font-size: 1.3rem;
    font-weight: 900;
}


.Overview{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    background-color: rgba(235, 217, 217, 0.753);

   
}

.top{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-desc{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
   color: rgba(73,143,221,255);
   margin-bottom: 10PX;
}


.event-name{
    display: flex;
    flex-direction: row;
}
.n {
    font-weight: 700;
    margin-right: 10px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.event-name p{
    text-transform: capitalize;
}
.image{
    max-width: 320px;
    height: 320px;
    object-fit:fill;
}

.image img{
   
    padding-left: 40px;
    
}

.bottom{
    display: flex;
    width: 60%;
    justify-content: center;
  
    
}



.a{
    width: 100%;
    display: flex;
    color: rgb(206, 37, 37);
    text-transform: uppercase;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-around;
    text-align: center;
    
}
.link-part button:hover{
    background-color: rgba(73, 143, 221,255);
    color: #fff;
}
.link-part{
    width: 100%;
    padding: 6px;
    margin-top: 20px;
   
    /* margin-left: 50px; */
 
}
.link-part button{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    background-color: rgba(167, 163, 163, 0.452);
}
.link-part a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
}
.like-comment{
    display: flex;
    flex-direction: row;
    
    border-radius: 0px 0px 15px 15px;
   
}

.like-comment .like{
    border-radius: 0px 0px 15px 15px;
}

.like-comment div{
    width: 50%;
    text-align: center;
    
    padding: 10px;
    background-color: rgb(207, 193, 193);
    border:none;
    
    outline: none;
    
}




.demo{
    font-size: 1.4rem;
    color: rgb(126, 111, 111);
    margin-top: -5px;
}

.change{
    color: red;
}

.change-black{
    color: rgb(24, 22, 22);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(201, 195, 195);
    color: black;
    text-align: center;
    border-radius: 6px;
    font-size:1rem;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media all and (max-width:800px){
    .item{
        width: 80%;
    }
}

@media all and (max-width:550px){
    .item{
        width: 100%;
    }
}
