.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh;
}

.chat-hero{
    display: flex;
    flex-direction: row;
}

.chat-left{
    width: 30%;
    background-color: rgba(192, 185, 185, 0.685);
    height: 87vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.chat-right{
    margin-left: 30%;
    width: 70%;
    height: 87vh;
    overflow: scroll;
}

.chat-right::-webkit-scrollbar {
    width: 0.7rem;
  }


.chat-right::-webkit-scrollbar-thumb {
    background: #73659ba9;
  }

  
  
.form-reply {
    height: 13vh;
    background-color: rgb(24, 23, 23);
    max-width:100%;
    display: flex;
    font-size: 1.5rem;
}
  
  form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
  }
  
  
.reply-input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
.reply-btn {
    background-color: #5d5e5f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
}
  

.displaychat{
    width: 70%;
}