
.main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 42%;
}



.msgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.msg-img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.fire{
    margin-left: 100%;
    width: 40%;
}

.bro{
    flex-direction: row-reverse;
    width: 100%;
}

.msg-txt{
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  width: 140px;
  position: relative;
  color:white;
  text-align: center;
  background-color: rgb(112, 112, 158);
}


.green-color{
  background-color: rgb(33, 150, 136);
}